body{
    background-repeat: no-repeat;
    background-image: url(../bk ground2.jpg);
    background-size:143%;
    margin: 0 0 0 0;
}
#netflix {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 150px;
}
.dark {
    margin: 0;
    padding: 20px;
    background: rgb(red, green, blue);
    min-height: 1080px;
    /*background-size: cover; */
}
.card {
    background: rgb(red, green, blue);
    box-shadow: 0 4px 8px 0 rgba (0 0 0 0.9);
    padding:  23px;
    height: 450px;
    /*background-color: rgba(0 0 0 0.95); */
    max-width: 300px;
    width:50%;
    margin:auto;
    margin-top: 30px;
    border-radius: 5%;
}
.h2{
    color:silver;
}
.p{
    color:rgb(red, green, blue)
}
.container {
    padding:20px 20px 20px 20px;
    width:80%;
    margin:auto;
    font-family:cursive;
}
.contact{
    padding-bottom: 25px;
}
.password{
    padding-bottom: 25px;
}
#contact{
    background-color: rgba(red, green, blue, alpha);
    border: none;
}
#password{
    background-color: rgba(255,255,255,0.1);
    border:none;
}
input::placeholder{
    color: rgba(red, green, blue, alpha);
}
.bottom{
    padding-bottom: 5px;

}
.ul{
    list-style-type: none;
    padding: 0 0 0 0;
    margin-top: 0;
}
.li{
    display: inline-flex;
    padding: 0 0;
}
input[type=submit] {
    background: red;
    border:0 none;
    padding:10px 20px 10px 10px;
    width:100%;
    font-family:sans-serif;
    color: rgba(red, green, blue, alpha);
    border: radius 7%;
}
input[type=text] {
    padding: 9px 58px 9px 15px;
    border-radius: 7%;
    color: rgba(255,255,255,0.808);
}
input[type=password] {
    padding:9px 58px 9px 15px;
    border-radius: 7%;
    color:rgba(255,255,255,0.808)
}
input::-ms-check{
    color:black;
}
.ul2{
    list-style-type: none;
    padding:0 0 0 0;
}
.li2{
    display: inline-flex;
    padding-top: 2px;
    color:rgba(255,255,255,0.4);
    font-size: 15px;
}
.li2 a{
    color:rgba(255,255,255,0.4);
    font-weight:bold;
    text-decoration:none;
}
#li2 a {
    color: 255,255,255,0925);
}
.p{
    color: rgba(255,255,255,0.4);
    font-size: 13px;
}
.p a {
    text-decoration: none;
    color:rgba(255,255,255,0.747);
}
#Instagram{
    font-size: 12px;
}
#li {
    padding-left: 55px;
}
#img{
    width: 19px;
    border-radius:25%;
    padding-bottom: 0px;
}
.bottom{
    padding: 5px 5px 5px 5px
}